.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
    font-family: 'Instrument Serif', serif;
    color: rgb(240, 221, 196);
}

body{
    background-color: black;
}